/* Common styles */
body {
	margin: 0px;
	font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto Slab', serif;
}

/* Skewed Header section styles. */
.skewed-header-section {
	position: relative;
	height: 400px;
	overflow: hidden;
}

.skewed-header-section > .header-bg {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-size: 100%;
    filter: brightness(50%);
	/* Skew image */
	transform: skewY(-6deg);
    transform-origin: top left;
}

.skewed-header-section > .skewed-header-wrapper {
	position: absolute;
	display: flex;
	justify-content: center;
	width: 100vw;
}

.skewed-header-section > .skewed-header-wrapper > .skewed-header-content {
	width: 1000px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.skewed-header-section > .skewed-header-wrapper > .skewed-header-content > .heading-wrapper {
	background-color: #cea135;
	color: #11122b;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	width: 175px;
	padding: 10px;
	text-align: center;
}

/* Page Container styles. */

.page-container {
	display: flex;
	justify-content: center;
}

.page-container > .content-wrapper {
	width: 1000px;
}

.page-container > .content-wrapper > #chef {
	width: 350px;
	margin: 20px 35px 20px 0px;
	float: left;
	border: 1px solid #cea135;
}

.page-container > .content-wrapper p {
	letter-spacing: 1px;
	line-height: 25px;
}

/* Square Grid styles */
.squares-wrapper {
	display: flex;
	justify-content: center;
}

.squares-wrapper > .squares {
	width: 1000px;
}

.squares-wrapper > .squares > .square {
	/* Grid container */
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-top: -4px;
}

.square > .img-wrapper img {
	width: 100%;
	height: 500px;
	/* warning: following is CSS3, and not 100% supported by all web-browsers. */
	object-fit: cover;
}

.square > .square-text-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 42px;
}

.square > .square-text-wrapper h1 {
	color: #cea135;
}