/* Contact section styles. */
.contact-grid-wrapper {
	width: 1000px;
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-gap: 100px;
}

.company-sidebar-wrapper > .logo img {
	width: 100%;
	margin-bottom: 20px;
}

.company-sidebar-wrapper >.company-details-wrapper {
	font-family: "ubuntu Condenced", sans-serif;
	/* font-weight: 900; */
	font-size: 1.25em;
	margin: 20px 0px;
	text-align: right;
	display: flex;
	justify-content: space-between;
	align-items: center;
}