/* Hero section styles. */
.hero-section {
	background-image: url('../images/fries-hero-bg.jpg');
	padding: 100px;
	height: 300px;
	/* Parallax styling. */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.hero-section > .top-heading {
	background-color: #11122b;
	color: #cbcbcb;
	width: 290px;
	border-radius: 2px;
	padding: 1px 20px;
}

.hero-section > .bottom-heading {
	background-color: #cea125;
	color: #11122b;
	width: 107px;
	border-radius: 2px;
	padding: 1px 20px;
	margin-top: 15px;
}

/* Features section styles. */

.features-section {
	height: 400px;
	background-image: url('../images/fries-multiply-bg.jpg');
	background-color: #cea135;
	border-top: 10px solid white;
	color: #11122b;
	/* Flex container. */
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Ubunto Condensed", serif;
}